pydacefit
==================================

The documentation can be found here:
https://www.egr.msu.edu/coinlab/blankjul/pydacefit/

{% include 'source/_general.rst' %}

Installation
==================================
{% include 'source/_installation.rst' %}

Usage
==================================
{% include 'source/_usage.rst' %}

Contact
==================================
{% include 'source/_contact.rst' %}